
@{
    ViewBag.Title = "PostingFileGenerator";
    var siteName = ViewBag.SiteName;
}

<br><br><br>

<div class="row justify-content-center">
    <div class="col-3">
        <p class="h3 mb-2 text-gray-800">手動觸發批號</p>
        <br>
        <form method="post" class="needs-validation" name="input_form" novalidate>
            <!-- 站別名稱選擇 -->
            <div class="input-group btn-group  btn-group-toggle mr-auto mb-4 justify-content-center" id="site_name_radio" data-toggle="buttons" onchange="site_name_radio_changed(this);">

                <!-- <div class="input-group-prepend">
        <label class="btn btn-info" style="width:75px">
            站別
        </label>
    </div>-->

                @if (ViewBag.SiteName == "AOI")
                {
                    <label class="btn btn-outline-secondary ">
                        <input class="form-check-input" type="radio" name="site_name_options" id="option1" autocomplete="off" value="AOI" checked>AOI
                    </label>
                }
                else
                {
                    <label class="btn btn-outline-secondary">
                        <input class="form-check-input" type="radio" name="site_name_options" id="option1" autocomplete="off" value="AOI">AOI
                    </label>
                }

                @if (ViewBag.SiteName == "AVI")
                {
                    <label class="btn btn-outline-secondary ">
                        <input class="form-check-input" type="radio" name="site_name_options" id="option2" autocomplete="off" value="AVI" checked> AVI
                    </label>
                }
                else
                {
                    <label class="btn btn-outline-secondary ">
                        <input class="form-check-input" type="radio" name="site_name_options" id="option2" autocomplete="off" value="AVI"> AVI
                    </label>
                }
                @if (ViewBag.SiteName == "TST")
                {
                    <label class="btn btn-outline-secondary ">
                        <input class="form-check-input" type="radio" name="site_name_options" id="option3" autocomplete="off" value="TST" checked> TST
                    </label>
                }
                else
                {
                    <label class="btn btn-outline-secondary ">
                        <input class="form-check-input" type="radio" name="site_name_options" id="option3" autocomplete="off" value="TST"> TST
                    </label>
                }
            </div>
            <!--站別碼 -->
            <div class="input-group mb-3" id="station_input_div" hidden>
                <div class="input-group-prepend " >
                    <label class="btn btn-info" style="width:75px">
                        站別碼
                    </label>
                </div>
                <input type="text" name="station_input" id="station_input" class="form-control" placeholder="9475 or 9501..." value="@ViewBag.Station" required>
                <div class="invalid-feedback" >
                    請輸入站別碼
                </div>
            </div>
            <!--批號 -->
            <div class="input-group mb-3" id="lot_input_div">
                <div class="input-group-prepend">
                    <label class="btn btn-info" style="width:75px">
                        批號
                    </label>
                </div>
                <input type="text" name="lot_input" id="lot_input" class="form-control" placeholder="L123456789..." value="@ViewBag.Lot" required>
                <div class="invalid-feedback">
                    請輸入批號
                </div>
            </div>
            <!-- 料號 -->
            <div class="input-group mb-3" id="partNum_input_div" hidden>
                <div class="input-group-prepend">
                    <label class="btn btn-info" style="width:75px">
                        料號
                    </label>
                </div>
                <input type="text" name="partNum_input" id="partNum_input" class="form-control" placeholder="N56W022080..." value="@ViewBag.PartNum" required>
                <div class="invalid-feedback">
                    請輸入料號
                </div>
            </div>
            <!-- 版序 -->
            <div class="input-group mb-3"  id="version_input_div" hidden>
                <div class="input-group-prepend">
                    <label class="btn btn-info" style="width:75px">
                        版序
                    </label>
                </div>
                <input type="text" name="version_input" id="version_input" class="form-control" placeholder="V002..." value="@ViewBag.Version" required>
                <div class="invalid-feedback">
                    請輸入版序
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right" value="btn_posting" id="btn_posting" name="btn_posting"  onclick="clickPosting(this)">過帳</button>
        </form>
    </div>
    <div class="col-7">
        <div class="card shadow mb-4" style="height: 450px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">訊息</h6>
            </div>
            <div class="card-body h-100">
                @ViewBag.ResultMsg
            </div>
        </div>
    </div>
</div>


<script language="javascript">

    setTimeout(function () { site_name_radio_changed() }, 500);
    
    function site_name_radio_changed(object) {
        var siteNameVar = $('input[name=site_name_options]:checked').val();
        if (siteNameVar == "AOI") {
            $('#station_input_div').removeAttr('hidden');
            $('#station_input').attr("required", true);
            $('#lot_input_div').removeAttr('hidden');
            $('#lot_input').attr("required", true);
            $('#partNum_input_div').removeAttr('hidden');
            $('#partNum_input').attr("required", true);
            $('#version_input_div').removeAttr('hidden');
            $('#version_input').attr("required", true);
        }
        else if (siteNameVar == "AVI" || siteNameVar == "TST") {
            $('#station_input_div').attr("hidden", true);
            $('#station_input').removeAttr('required');
            $('#lot_input_div').removeAttr('hidden');
            $('#lot_input').attr("required", true);
            $('#partNum_input_div').attr("hidden", true);
            $('#partNum_input').removeAttr('required');
            $('#version_input_div').attr("hidden", true);
            $('#version_input').removeAttr('required');
        }
    }

    function clickPosting() {
        //畫面執行中circle
        $('.spinner').css('display', 'block');
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>