@using System.Data;
@using highlight_system.Models;
@model DataTable

@{
    ViewBag.Title = "單片畫圖";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">
    1. 單片圖檔下載<br>
    2. 選擇[站別]、[批號]、[板號]、[缺點名稱]後，點擊"開始畫圖"即可產生單片圖檔，板號可複選!<br>
    3. 表格顯示已畫圖完成的圖檔，並可以一鍵下載全部圖檔，或選擇單片下載<br>
    <!-- <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.-->
</p>


<div class="row">
    <div class="col-3">

        <form method="post" name="input_form">
            <!-- 選擇站別 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="false" aria-expanded="false">
                        站別
                    </button>
                </div>
                <select name="station_input" class="form-control rounded-0" style="overflow-x: auto;" id="station_input" onchange="stationOnChange()">
                    @if (ViewBag.Station == "TST")
                    {
                        <option>AOI</option>
                        <option>AVI</option>
                        <option selected>TST</option>
                    }
                    else if (ViewBag.Station == "AVI")
                    {
                        <option>AOI</option>
                        <option selected>AVI</option>
                        <option>TST</option>
                    }
                    else
                    {
                        <option selected>AOI</option>
                        <option>AVI</option>
                        <option>TST</option>
                    }
                </select>
                @*<div class="dropdown input-group-prepend">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        站別
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" href="#" onclick="stationSelect(event);">AOI</button>
                        <button class="dropdown-item" href="#" onclick="stationSelect(event);">AVI</button>
                        <button class="dropdown-item" href="#" onclick="stationSelect(event);">TST</button>
                    </div>
                </div>
                <input type="text" name="station_input" id="station_input" class="form-control" placeholder="站別..." value="@ViewBag.Station" onchange="stationOnChange()" aria-label="Station" aria-describedby="basic-addon1">*@
            </div>
            <!-- 選擇批號 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        批號
                    </button>
                </div>
                <input type="text" name="lot_input" id="lot_input" class="form-control input-lg" placeholder="批號..." value="@ViewBag.Lot" aria-label="Lot" aria-describedby="basic-addon1">
            </div>
            <!-- 選擇板號 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        板號
                    </button>
                    <div id="myMultiselect" class="multiselect dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div id="mySelectOptions" style="width:300px">
                            <label class="ml-1 h6"><input type="checkbox" onchange="checkboxStatusChange()" value="all" style="width:15px;height:15px;" /> all </label>
                            @for (int i = 1; i <= ViewBag.MaxTotalPanel; i++)
                            {
                                <label class="ml-1 h6"><input type="checkbox" onchange="checkboxStatusChange()" value="@i" style="width:15px;height:15px;" /> @i </label>
                            }
                        </div>
                    </div>
                </div>
                @if (ViewBag.Piece != null && ViewBag.Piece != "")
                {
                    <input type="text" name="piece_input" id="piece_input" class="form-control" placeholder="板號..." value="@ViewBag.Piece" aria-label="PieceNo" aria-describedby="basic-addon1">
                }
                else
                {
                    <input type="text" name="piece_input" id="piece_input" class="form-control" placeholder="板號..." value="all" aria-label="PieceNo" aria-describedby="basic-addon1">
                }

            </div>

            <!-- 選擇Defect code -->
            <div class="input-group mt-2 mb-3">
                @*<a href="#" class="list-group-item list-group-item-action disabled text-white bg-info rounded-top">Defect Code</a>*@
                <div class=" input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="false" aria-expanded="false">
                        缺點名稱
                    </button>
                </div>
                <select name="defect_code" class="form-control rounded-0" style="overflow-x: auto;" id="defect_code_Select">
                    @foreach (String code in ViewBag.defectCodeList)
                    {
                        if (ViewBag.SelectedDefect == code)
                        {
                            <option selected>@code</option>
                        }
                        else
                        {
                            <option>@code</option>
                        }
                    }
                </select>

            </div>
            <!-- 開始畫圖 -->
            <button type="submit" class="btn btn-success mb-2" onclick="drawingPanel(this)" value="btn_start_drawing" id="btn_start_drawing" name="press_item">開始畫圖</button>
        </form>

        <!-- 網頁提示訊息 -->
        @if (ViewBag.TestMsg != null && ViewBag.TestMsg != "")
        {
            <p>
                @ViewBag.TestMsg
            </p>
        }

    </div>

    <!-- DataTales 已完成圖檔列表 -->
    <div class="col">
        <div class="card shadow mb-4">
            <!-- DataTales 表頭 -->
            <div class="card-header py-3">
                <div class="row align-items-center">
                    <div class="col-auto ">
                        <h6 class="m-0 font-weight-bold text-primary">已完成圖檔列表</h6>
                    </div>
                    <div class="col-auto">
                        @if(Model.Rows.Count>0)
                        {
                            ViewBag.downloadLot = Model.Rows[0]["Lot"].ToString();
                        }else
                        {
                            ViewBag.downloadLot = "";
                        }
                        <button id="download_btn" class="btn btn-info " value="@ViewBag.downloadLot" type="button" onclick="downloadAllPictures(this);">
                            <i class="fas fa-download fa-sm"></i>
                            <span class="text">全部下載</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- DataTales 表內容 -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable_img" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>查看圖檔</th>
                                <th>下載</th>
                                <th>批號</th>
                                <th>板號</th>
                                <th>缺點名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                            <tr>
                                @{
                                    <!-- 取得的path範例: D:\\ASEKH\\K09865\\疊圖系統\\highlight_system\\highlight_system\\img\\OfflineSingleTemp\\__1\\L211201029_A4-缺防焊_露底材_1.png-->
                                    string path = dr["imgSource"].ToString();
                                    ViewBag.previewImg = path.Substring(path.IndexOf("\\img"));
                                }
                                <td>
                                    <a href="@Url.Action("Image","PanelDrawing", new { imgSrc = dr["imgSource"] })" class="btn btn-link btn-circle " target="_blank"><img src="@(Url.Content("~"+ViewBag.previewImg))" alt="@dr["imgSource"]" style="height:60px; width:60px"></a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-circle" value="@dr["imgSource"]" onclick="tableItemDownload(this);"><i class="fas fa-download"></i> </button>
                                </td>
                                <td>@dr["Lot"]</td>
                                <td>@dr["Piece"]</td>
                                <td>@dr["DefectCode"]</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  ml-5" role="document">
        @* 依據圖片大小設定長寬，圖片設置為1500x974， div設置為1540x1150 *@
        <div class="modal-content" style="width:1540px; height:1150px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">圖片</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modal_img" src="#" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<!-- 載入中circle -->
@*<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>*@

<!-- 網頁提示訊息 -->
@*@if (ViewBag.TestMsg != null && ViewBag.TestMsg != "")
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(ViewBag.TestMsg));
        alert(message);
    </script>
}*@

<script language="javascript">

    function stationOnChange() {
        $("form[name='input_form']").submit();
    }
    function stationSelect(e) {
        document.getElementById("station_input").value = e.target.innerText;
    }
    function lotSelect(e) {
        document.getElementById("lot_input").value = e.target.innerText;
    }

    function drawingPanel(e) {
        $("input[name='station_input']").val($("#station_input").val());
        $("input[name='lot_input']").val($("#lot_input").val());
        $("input[name='piece_input']").val($("#piece_input").val());
        $("input[name='defect_code']").val($("#defect_code_Select").val());
        $("input[name='press_item']").val($("#btn_start_drawing").val());

        //畫面執行中circle
        $('.spinner').css('display', 'block');
        //表單提交
        //$("form[name='drawingForm']").submit();
    }

    function showImg(objButton) {
        $("#modal_img").attr("src", objButton.value);
        $("#modal_img").attr("width", 1500);
        $("#modal_img").attr("height", 974);
    }

    function tableItemDownload(objButton) {
        $("input[name='img_src']").val(objButton.value);

        //表單提交
        $("form[name='downloadForm']").submit();
    }

    function downloadAllPictures(objButton) {
        $("input[name='download_lot']").val(objButton.value);
        //表單提交
        $("form[name='allDownloadForm']").submit();
    }

</script>


@*@using (Html.BeginForm("SinglePanel_Download", "PanelDrawing", FormMethod.Post, new { name = "drawingForm" }))
    {
        @Html.Hidden("station_input")
        @Html.Hidden("lot_input")
        @Html.Hidden("piece_input")
        @Html.Hidden("defect_code")
        @Html.Hidden("press_item")
    }*@

@using (Html.BeginForm("Item_Download", "PanelDrawing", FormMethod.Post, new { name = "downloadForm" }))
{
    @Html.Hidden("img_src")
}

@using (Html.BeginForm("All_Pictures_Download", "PanelDrawing", FormMethod.Post, new { name = "allDownloadForm" }))
{
    @Html.Hidden("download_lot")
}

