@using System.Data
@model DataTable
@{
    ViewBag.Title = "多批疊圖";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">
    1. 多項批號疊圖<br>
    2. 選擇[站別]、[料號板序]、[日期範圍]、[缺點名稱]，按"批號查詢"即可帶出批號查詢清單<br>
    3. 點選所需批號，按"產生多批疊圖"即可產生多批號疊圖<br>
    @*<a target="_blank" href="https://datatables.net">official DataTables documentation</a>.*@
</p>

<div class="row">

    <div class="col-3">

        <form method="post" name="input_form">
            <!-- 選擇站別 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="false" aria-expanded="false">
                        站別
                    </button>
                </div>
                <select name="site_Select" class="form-control rounded-0" style="overflow-x: auto;" id="site_Select" onchange="siteChange()">
                    @if (ViewBag.site == "TST")
                    {
                        <option>AOI</option>
                        <option>AVI</option>
                        <option selected>TST</option>
                    }
                    else if (ViewBag.site == "AVI")
                    {
                        <option>AOI</option>
                        <option selected>AVI</option>
                        <option>TST</option>
                    }
                    else
                    {
                        <option selected>AOI</option>
                        <option>AVI</option>
                        <option>TST</option>
                    }
                </select>
                @*<input type="text" name="input_site" id="input_site" class="form-control" placeholder="站別..." value="@ViewBag.site" onchange="siteChange(this)" aria-label="Station" aria-describedby="basic-addon1">*@
            </div>

            <!-- 輸入圖號 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="true" aria-expanded="false">
                        圖號
                    </button>
                </div>
                <input type="text" name="input_DWG" id="input_DWG" class="form-control " placeholder="圖號..." value="@ViewBag.DWG">
            </div>

            <!-- 輸入料號板序 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="true" aria-expanded="false">
                        料號板序
                    </button>
                </div>
                <input type="text" name="input_modelNum" id="input_modelNum" class="form-control" placeholder="料號板序..." value="@ViewBag.Model_num" aria-label="Lot" aria-describedby="basic-addon1">
            </div>

            <!-- 輸入日期 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="true" aria-expanded="false">
                        開始日期
                    </button>
                </div>
                <input id="input_StartDate" name="input_StartDate" type="date" class="form-control bg-light border-1 small" placeholder="yyyy/mm/dd" value="@ViewBag.StartDate">
            </div>
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="true" aria-expanded="false">
                        結束日期
                    </button>
                </div>
                <input id="input_EndDate" name="input_EndDate" type="date" class="form-control bg-light border-1 small" placeholder="yyyy/mm/dd" value="@ViewBag.EndDate">
            </div>


            <!-- 選擇Defect code -->
            <div class="input-group mt-2 mb-3">
                @*<a href="#" class="list-group-item list-group-item-action disabled text-white bg-info rounded-top">Defect Code</a>*@
                <div class=" input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="false" aria-expanded="false">
                        缺點名稱
                    </button>
                </div>
                <select name="defect_code_Select" class="form-control rounded-0" style="overflow-x: auto;" id="defect_code_Select">
                    @foreach (String code in ViewBag.DefectCodeList)
                    {
                        if (ViewBag.SelectedDefect == code)
                        {
                            <option selected>@code</option>
                        }
                        else
                        {
                            <option>@code</option>
                        }
                    }
                </select>

            </div>
            <!-- 查詢批號 -->
            <button type="submit" class="btn btn-secondary mb-2" value="btn_search_lot" id="btn_search_lot" name="press_item">查詢批號</button>
        </form>

    </div>

    <!-- 批號清單 -->
    <div class="col-4">

        <!-- 批號清單 DataTales -->
        <div class="card shadow mb-4">
            @using (Html.BeginForm("MultiLotStackMapping", "StackMapping", FormMethod.Post, new { name = "lotForm", id = "lotForm" }))
            {
                @Html.Hidden("site_Select")
                @Html.Hidden("input_DWG")
                @Html.Hidden("input_modelNum")
                @Html.Hidden("input_StartDate")
                @Html.Hidden("input_EndDate")
                @Html.Hidden("defect_code_Select")
                @Html.Hidden("lot_list", new { id = "lot_list" })

                <div class="card-header py-3">
                    <div class="row align-items-center">

                        <div class="col-auto mr-auto">
                            <h5 class="m-0 font-weight-bold text-primary">批號清單</h5>
                        </div>

                        <div class="col-auto">
                            <button id="btn_drawingMultiLot" class="btn btn-success " type="submit" value="btn_drawingMultiLot" name="press_item">
                                <span class="text">產生多批疊圖</span>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height:600px">
                        <table class="table table-bordered table-hover display select" id="dataTable_multiLot" style="width:100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th><input name="select_all" value="1" type="checkbox"></th>
                                    <th>批號</th>
                                    <th>板數</th>
                                    <th>日期時間</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow dr in ViewData.Model.Rows)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@dr["lot_num"]</td>
                                        <td>@dr["total_panel"]</td>
                                        <td>@DateTime.Parse(dr["datetime"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- 產生疊圖結果 -->
    <div class="col-5">
        <!-- 產生疊圖結果 DataTales -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row align-items-center">
                    <div class="col-auto mr-auto">
                        <h5 class="m-0 font-weight-bold text-primary">產生疊圖結果</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable_multiMappingImg" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>查看</th>
                                <th>下載</th>
                                <th>批號</th>
                                <th>正/背面</th>
                                <th>缺點名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var list = ViewBag.imgSrc as List<string>; }
                            @if (list != null && list.Count()>0)
                            {
                                foreach (string path in ViewBag.imgSrc)
                                {
                            <tr>
                                @{
                                    <!-- 取得的path範例: D:\\ASEKH\\K09865\\疊圖系統\\highlight_system\\highlight_system\\img\\MultiStackingFig\\__1\\L211015246_Blind_via_not_filled.png-->
                                    ViewBag.previewImg = path.Substring(path.IndexOf("\\img"));
                                }
                                <td>
                                    <a href="@Url.Action("Image","StackMapping", new { imgSrc = path, webpage="multiStack" })" class="btn btn-warning btn-circle" target="_blank"><img src="@(Url.Content("~"+ViewBag.previewImg))" alt="@path" style="height:60px; width:60px"></a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-circle" value="@path" onclick="tableItemDownload(this);"><i class="fas fa-download"></i> </button>
                                </td>
                                <td>@ViewBag.lotList</td>
                                @if (path.Contains("_T_"))
                                {
                                    <td>正面</td>
                                }
                                else if (path.Contains("_B_"))
                                {
                                    <td>背面</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@ViewBag.SelectedDefect</td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- 載入中circle -->
@*<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>*@

<!-- 網頁提示訊息 -->
@if (ViewBag.TestMsg != null && ViewBag.TestMsg != "")
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(ViewBag.TestMsg));
        alert(message);
    </script>
}

<script type="text/javascript">
    function siteChange(obj) {
        $("form[name='input_form']").submit();
    }
    

    function tableItemDownload(objButton) {
        $("input[name='img_src']").val(objButton.value);
        $("input[name='webpage']").val("multiStack");

        //表單提交
        $("form[name='downloadForm']").submit();
    }
    

</script>


@using (Html.BeginForm("Item_Download", "StackMapping", FormMethod.Post, new { name = "downloadForm" }))
{
    @Html.Hidden("img_src")
}



