@using System.Data
@model DataTable
@{
    ViewBag.Title = "整批疊圖";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">
    1. 單一批號疊圖<br>
    2. 選擇[站別]、[批號]、[缺點名稱]，按"產生疊圖"即可執行疊圖<br>
    3.  表格顯示已疊圖完成的圖檔，點選查看疊圖圖檔<br>
    @*<a target="_blank" href="https://datatables.net">official DataTables documentation</a>.*@
</p>

<div class="row">

    <div class="col-3">

        <form method="post" name="input_form">
            <!-- 選擇站別 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="false" aria-expanded="false">
                        站別
                    </button>
                </div>
                <select name="input_site" class="form-control rounded-0" style="overflow-x: auto;" id="input_site" onchange="siteChange(this)">
                    @if (ViewBag.site == "TST")
                    {
                        <option>AOI</option>
                        <option>AVI</option>
                        <option selected>TST</option>
                    }
                    else if (ViewBag.site == "AVI")
                    {
                        <option>AOI</option>
                        <option selected>AVI</option>
                        <option>TST</option>
                    }
                    else
                    {
                        <option selected>AOI</option>
                        <option>AVI</option>
                        <option>TST</option>
                    }
                </select>
                @*<div class="dropdown input-group-prepend">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            站別
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" href="#" onclick="stationSelect(event);">AOI</button>
                            <button class="dropdown-item" href="#" onclick="stationSelect(event);">AVI</button>
                            <button class="dropdown-item" href="#" onclick="stationSelect(event);">TST</button>
                        </div>
                    </div>
                    <input type="text" name="input_site" id="input_site" class="form-control" placeholder="站別..." value="@ViewBag.site" onchange="siteChange(this)" aria-label="Station" aria-describedby="basic-addon1">*@
            </div>
            <!-- 選擇批號 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        批號
                    </button>
                    <div id="dropdown-lot" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
                <input type="text" name="input_lot" id="input_lot" class="form-control" placeholder="批號..." value="@ViewBag.Lot" aria-label="Lot" aria-describedby="basic-addon1">
            </div>


            <!-- 選擇Defect code -->
            <div class="input-group mt-2 mb-3">
                @*<a href="#" class="list-group-item list-group-item-action disabled text-white bg-info rounded-top">Defect Code</a>*@
                <div class=" input-group-prepend">
                    <button class="btn btn-info" type="button" aria-haspopup="false" aria-expanded="false">
                        缺點名稱
                    </button>
                </div>
                <select name="input_defect_code" class="form-control rounded-0" style="overflow-x: auto;" id="defect_code_Select">
                    @foreach (String code in ViewBag.DefectCodeList)
                    {
                        if (ViewBag.SelectedDefect == code)
                        {
                            <option selected>@code</option>
                        }
                        else
                        {
                            <option>@code</option>
                        }
                    }
                </select>

            </div>
            <!-- 產生疊圖 -->
            <button type="submit" class="btn btn-success mb-2" onclick="drawingStacking(this)" value="btn_start_drawing" id="btn_start_drawing" name="press_item">產生疊圖</button>
        </form>

    </div>

    <div class="col">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row align-items-center">
                    <div class="col-auto mr-auto">
                        <h5 class="m-0 font-weight-bold text-primary">疊圖結果</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable_img" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>查看</th>
                                <th>下載</th>
                                <th>批號</th>
                                <th>正/背面</th>
                                <th>缺點名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    @{
                                        <!-- 取得的path範例: D:\\ASEKH\\K09865\\疊圖系統\\highlight_system\\highlight_system\\img\\StackingFig\\__1\\L211015246_Blind_via_not_filled.png-->
                                        string path = dr["img_src"].ToString();
                                        ViewBag.previewImg = path.Substring(path.IndexOf("\\img"));
                                    }
                                    <td>
                                        <a href="@Url.Action("Image","StackMapping", new { imgSrc = dr["img_src"], webpage="singleStack" })" class="btn btn-warning btn-circle" target="_blank"><img src="@(Url.Content("~"+ViewBag.previewImg))" alt="@dr["img_src"]" style="height:60px; width:60px"></a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-secondary btn-circle" value="@dr["img_src"]" onclick="tableItemDownload(this);"><i class="fas fa-download"></i> </button>
                                    </td>
                                    <td>@dr["Lot"]</td>
                                    <td>@dr["FrontBack"]</td>
                                    <td>@dr["DefectCodeName"]</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- 載入中circle -->
@*<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>*@

<!-- 網頁提示訊息 -->
@if (ViewBag.TestMsg != null && ViewBag.TestMsg != "")
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(ViewBag.TestMsg));
        alert(message);
    </script>
}

<script type="text/javascript">
    function siteChange(obj) {
        $("form[name='input_form']").submit();
    }
    function stationSelect(e) {
        document.getElementById("input_site").value = e.target.innerText;
    }

    function drawingStacking(e) {
        $("input[name='input_site']").val($("#input_site").val());
        $("input[name='input_lot']").val($("#input_lot").val());
        $("input[name='input_defect_code']").val($("#defect_code_Select").val());
        $("input[name='press_item']").val($("#btn_start_drawing").val());

        //畫面執行中circle
        $('.spinner').css('display', 'block');
        //表單提交
        //$("form[name='drawingForm']").submit();
    }


    function tableItemDownload(objButton) {
        $("input[name='img_src']").val(objButton.value);
        $("input[name='webpage']").val("singleStack");
        //表單提交
        $("form[name='downloadForm']").submit();
    }



</script>




@using (Html.BeginForm("Item_Download", "StackMapping", FormMethod.Post, new { name = "downloadForm" }))
{
    @Html.Hidden("img_src")
    @Html.Hidden("webpage")
}
