
@{
    ViewBag.Title = "AVI Photo Show Page";
    ViewBag.Lot = "L123456789";
    ViewBag.SelectedPanel = 14;
    ViewBag.SelectedDefect = "金面汙染_Total";
    int len = ViewBag.img_list.Count;

}
@Styles.Render("~/css/portfolio.css")


<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">實際照片</h2>
            <h3 class="section-subheading text-muted">批號: @ViewBag.Lot </h3>
            <h3 class="section-subheading text-muted">板號: @ViewBag.SelectedPanel </h3>
            <h3 class="section-subheading text-muted">缺點名稱: @ViewBag.SelectedDefect </h3>
        </div>
        <div class="row">
            @for (var i = 0; i < len; i++)
            {
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link open-ShowImgDialog" data-toggle="modal" data-id="@i" href="#showImageModal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="@ViewBag.img_list[i]" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">座標: (@ViewBag.defect_array[i].X, @ViewBag.defect_array[i].Y)</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="showImageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <img src="../../img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h4 id="modal_coord">座標 (x,y)</h4>
                            <img class="img-fluid d-block mx-auto" id="modal_img" src="@ViewBag.img_list[2]" alt="..." />
                            <ul class="list-inline">
                                <li>
                                    <h5>批號:  @ViewBag.Lot</h5>
                                </li>
                                <li>
                                    <h5>板號: @ViewBag.SelectedPanel</h5>
                                </li>
                                <li>
                                    <h5>缺點名稱: @ViewBag.SelectedDefect</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    /*!
* Start Bootstrap - Agency v7.0.11 (https://startbootstrap.com/theme/agency)
* Copyright 2013-2022 Start Bootstrap
* Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-agency/blob/master/LICENSE)
*/
    //
    // Scripts
    //

    window.addEventListener('DOMContentLoaded', event => {

        $(document).on("click", ".open-ShowImgDialog", function () {
            var myId = $(this).data('id');
            console.log("myId=" + myId);
            var image_array = @Html.Raw(Json.Encode(@ViewBag.img_list));
            var defect_array = @Html.Raw(Json.Encode(@ViewBag.defect_array));
            var X = defect_array[myId].X;
            var Y = defect_array[myId].Y;
            console.log("(X,Y) = (" + X + "," + Y + ")");
            $(".modal-body #modal_coord").text("座標: (" + X + ", " + Y + ")");
            $(".modal-body #modal_img").attr("src", image_array[myId]);
        });

        // Navbar shrink function
        var navbarShrink = function () {
            const navbarCollapsible = document.body.querySelector('#mainNav');
            if (!navbarCollapsible) {
                return;
            }
            if (window.scrollY === 0) {
                navbarCollapsible.classList.remove('navbar-shrink')
            } else {
                navbarCollapsible.classList.add('navbar-shrink')
            }

        };

        // Shrink the navbar
        navbarShrink();

        // Shrink the navbar when page is scrolled
        document.addEventListener('scroll', navbarShrink);

        // Activate Bootstrap scrollspy on the main nav element
        const mainNav = document.body.querySelector('#mainNav');
        if (mainNav) {
            new bootstrap.ScrollSpy(document.body, {
                target: '#mainNav',
                offset: 74,
            });
        };

        // Collapse responsive navbar when toggler is visible
        const navbarToggler = document.body.querySelector('.navbar-toggler');
        const responsiveNavItems = [].slice.call(
            document.querySelectorAll('#navbarResponsive .nav-link')
        );
        responsiveNavItems.map(function (responsiveNavItem) {
            responsiveNavItem.addEventListener('click', () => {
                if (window.getComputedStyle(navbarToggler).display !== 'none') {
                    navbarToggler.click();
                }
            });
        });

    });

</script>