<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CTRD Purchase</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

</head>
<body style="padding-top: 4.5rem;">
    <nav id="nav_topbar" class="navbar navbar-expand-sm navbar-dark fixed-top bg-secondary" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CTRD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-1 mb-sm-0 mt-1 mr-auto">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Purchase" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Purchase", "Home")">採購</a>
                    </li>
                </ul>
                <i class="fas fa-user fa-sm mr-1"></i>
                <label id="navbar_userid" class="mt-2" style="color: #fff;font-size: 1.1em;">USER ID</label>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer id="div_footer" class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>&copy; @DateTime.Now.Year - v1.0.0</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Styles.Render("~/Content/dataTables.bootstrap4.min.css")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap4.min.js")


</body>
</html>
