@using System.Data;
@using highlight_system.Models;
@model DataTable

@{
    ViewBag.Title = "單片圖檔";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">
    1. 可下載單一圖檔<br>
    2. 選擇[站別]、[批號]、[片號]、[Defect Code]後，點擊下載即可產生單一圖檔，片號可複選!<br>
    3. 點選表格可顯示已下載的圖檔<br>
    @*<a target="_blank" href="https://datatables.net">official DataTables documentation</a>.*@
</p>

<div class="row">
    <div class="col-2">

        <form method="post">
            <!-- 選擇站別 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        站別
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" href="#" onclick="stationSelect(event);">AOI</button>
                        <button class="dropdown-item" href="#" onclick="stationSelect(event);">AVI</button>
                        <button class="dropdown-item" href="#" onclick="stationSelect(event);">TST</button>
                    </div>
                </div>
                <input type="text" name="station" id="station-input" class="form-control" placeholder="站別..." value="@ViewBag.Station" aria-label="Station" aria-describedby="basic-addon1">
            </div>
            <!-- 選擇批號 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        批號
                    </button>
                    <div id="dropdown-lot" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @*@foreach (String lot in ViewBag.LotList)
                        {
                            <a class="dropdown-item" href="#" onclick="lotSelect(event);">@lot</a>
                        }*@
                        @*<a class="dropdown-item" href="#" onclick="lotSelect(event);">n51w014v100</a>
                        <a class="dropdown-item" href="#" onclick="lotSelect(event);">n51w014v101</a>
                        <a class="dropdown-item" href="#" onclick="lotSelect(event);">n51w014v102</a>*@
                    </div>
                </div>
                <input type="text" name="lot" id="lot-input" class="form-control" placeholder="批號..." value="@ViewBag.Lot" aria-label="Lot" aria-describedby="basic-addon1">
            </div>
            <!-- 選擇片號 -->
            <div class="input-group mb-3">
                <div class="dropdown input-group-prepend">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        片號
                    </button>
                    <div  id="myMultiselect"  class="multiselect dropdown-menu"  aria-labelledby="dropdownMenuButton">
                        <div id="mySelectOptions">
                            @for (int i = 1; i <= 32; i++)
                            {
                                <label class="ml-1 h6"><input type="checkbox"onchange="checkboxStatusChange()" value="@i" style="width:15px;height:15px;" /> @i </label>
                            }
                        </div>
                    </div>
                </div>
                <input type="text" name="piece" id="piece-input" class="form-control" placeholder="片號..." value="@ViewBag.Piece" aria-label="PieceNo" aria-describedby="basic-addon1">
            </div>

            <!-- 選擇Defect code -->
            <div class=" mt-2 mb-3">
                <a href="#" class="list-group-item list-group-item-action disabled text-white bg-info rounded-top">Defect Code</a>

                <select  name="defect_code" class="form-control form-control-lg rounded-0" style="overflow-x: auto;" id="exampleFormControlSelect2">
                    @foreach (String code in ViewBag.defectCodeList)
                    {
                        <option>@code</option>
                    }
                </select>

            </div>
            <!-- 下載圖檔 -->
            <button type="submit" class="btn btn-success mb-2">下載圖檔</button>
        </form>

    </div>

    <div class="col">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">已下載圖檔列表</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable_img" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>查看圖檔</th>
                                <th>圖號</th>
                                <th>批號</th>
                                <th>片號</th>
                                <th>Defect code</th>
                                <th>日期</th>
                                <th>時間</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>查看圖檔</th>
                                    <th>圖號</th>
                                    <th>批號</th>
                                    <th>片號</th>
                                    <th>Defect code</th>
                                    <th>日期</th>
                                    <th>時間</th>
                                </tr>
                            </tfoot>*@
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td>
                                        <i class="fas fa-images"></i>
                                    </td>
                                    <td>@dr["Model"]</td>
                                    <td>@dr["Lot"]</td>
                                    <td>@dr["Piece"]</td>
                                    <td>@dr["DefectCode"]</td>
                                    <td>@dr["Date"]</td>
                                    <td>@dr["Time"]</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script language="javascript">
    function stationSelect(e) {
        document.getElementById("station-input").value = e.target.innerText;
    }
    function lotSelect(e) {
        document.getElementById("lot-input").value = e.target.innerText;
    }
</script>
